// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #111440;
$secondary : #82bf45;
$accent    : #f28322;

$dark      : #141726;

$positive  : #308c3e;
$negative  : #ae4238;
$info      : #99d6d7;
$warning   : #faf074;

@import '~quasar-variables-styl'
